@font-face {
    font-family: 'GFT';
    src: url('fonts/GFSFleischman.otf') format('truetype');
}
@font-face {
    font-family: 'Mackay Bold';
    src: url('fonts/Rene\ Bieder\ -\ Mackay\ DEMO\ Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Harriet' ;
    src: url('fonts/HARRIETTEXTREGULAR.OTF') format('truetype');
}
@font-face {
    font-family: 'Basis Grotesque Pro' ;
    src: url('fonts/BasisGrotesqueArabicPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'NokiaFC22';
    src: url('fonts/nokiafc22.ttf') format('truetype');
}
@font-face {
    font-family: 'SF Mono';
    src: url('./fonts/SFMonoRegular.otf') format('truetype');
}
@font-face {
    font-family: 'New York Extra Large';
    src: url('./fonts/NewYorkExtraLargeRegular.otf') format('truetype');
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
}
header {
    background-color: #FFD900;
    height: 350px;
    position: relative;
}
.header-content{
    position: absolute;
    top: 65px;
    left: 10%;        
}
.header-content p {
    font-family: 'SF Mono' , sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.header-content h1{
    font-family: 'New York Extra Large';
    font-size: 200px;
    font-weight: 700;
    margin: 0;
}
#body-content h1{
    font-family: 'New York Extra Large';
    font-size: 44px;
    font-weight: 700;
}
section{
    width: 70%;
    margin-top: 100px ;
    margin-left: 130px ;
}
.content{
    font-family: 'SF Pro Text';
    font-size: 20px;
    font-weight: 400;
    border-left: 6px solid black;
    padding-left: 29px;
}
.font svg {
    margin-top: 50px;
}
@media (max-width: 992px) {
    header{
        height: 80vh;
    }
    section{
        width: 90%;
        margin: auto;
    }
}