*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace, sans-serif;
    max-height: 70vh;
}
#container{
    width: 40%;
    background: rgb(96, 96, 96);
    color: white;
    border-radius: 10px ;
}
#container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    text-align: center;
}
header .icons span{
    padding: 10px 20px;
    cursor: pointer;
}

header .icons span:hover{
    background-color: #f2f2f2;
    color: black;
    border-radius: 5px;
}

header #today {
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: monospace , sans-serif;
    border: none;
    border-radius: 5px;
}
#calendar {
    padding: 20px;
}
#current-date{
    font-size: 30px;
}
ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
}
ul li {
    width: calc(100% / 7);
    position: relative;
}

.weeks{
    font-weight: bold;
}
.days li{
    margin: 20px auto;
    cursor: pointer;
    z-index: 1;
}
.days li::before{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50% , -50%);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    content: "";
    transition: all 0.3s ease;

}
.days li:hover::before{
    background: #ccc;
}
.days li.other-month{
    color: #aaa;
}
.days li.current-day::before{
    background: rgb(36, 152, 247);
}
.days li.random-day::before{
    border: 2px solid rgb(36, 152, 247);
    border-radius: 50%;
}
